html,
body {
  min-height: auto;
}

body {
  height: auto;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background-color: $background-color;

  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}
